<div class="col-xs-12">
  <div class="panel panel-default">
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Title</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody id="songs">
        <tr ng-repeat="song in songs">
          <td><span ng-if="song.totaldiscs > 1">{{song.discnumber}}-</span>{{song.tracknumber}}</td>
          <td>{{song.artist}}</td>
          <td>{{song.album}}</td>
          <td>{{song.title}}</td>
          <td>{{song.date.substring(0, 4)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
